.login-main-container {
  display: flex;
  flex-direction: column; /* Stack items in a column */
  align-items: center; /* Center items horizontally */
  margin-top: 5rem;
}

.login-heading-message {
  font-size: 2rem;
}


